@charset 'UTF-8';
/*
 * Универсальные стили, одинаковые для всех типов устройств
 */

/*
 * Основной шрифт главной страницы
 */
@font-face
{
	font-family: navtext;
	src: url("fonts/HelveticaNeueCyr-Light.eot");
	src: local("HelveticaNeueCyr"),
	url("fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
	url("fonts/HelveticaNeueCyr-Light.woff") format("woff"),
	url("fonts/HelveticaNeueCyr-Light.ttf") format("truetype"),
	url("fonts/HelveticaNeueCyr-Light.otf") format("opentype"),
	url("fonts/HelveticaNeueCyr-Light.eot") format("embedded-opentype");
}

/*
 * Общие настройки страницы
 */
html > body::before
{
	content: '';
	top: 0;
	position: fixed;
	overflow: hidden;
	height: 100vh;
	width: 1024px;
	z-index: -1;
}
body
{
	margin: 0 auto;
	font-family: navtext;
}
a
{
	text-decoration: none;
	color: black;
}

/*
 * Панель навигации (фиксированное меню)
 */
nav::before
{
	content: '';
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: RGBA(255,255,255,0.5);
	z-index: -15;
}
nav
{
	position: fixed;
	top: 0;
	cursor: default;
}

.mob_button
{
	display: none;
}

nav > a
{
	font-size: 14px;
	display: inline-block;
	border: 1px solid RGBA(0,0,0,0);
	margin-right: -5px;
	transition: .2s all linear;
}

nav > a:hover
{
	border: 1px solid black;
	box-shadow:4px 4px 5px RGBA(0,0,0,0.3);
	border-radius: 3px;
	box-sizing: border-box;
	background: RGBA(255,255,255,0.1);
}

nav > a:first-of-type
{
	font-size: 0;
	box-sizing:content-box;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

/*
 * Объявления и контакты
 */

aside
{
	width: 221px;
	vertical-align: top;
	display: inline-block;
	display: none;
}

/*
 * Основной стиль контента страницы
 */
main
{
	background: RGBA(255,255,255,1);
	text-align: center;
}

/* Отступы для всего, кроме заголовков */
main > section > :not(h1)
{
	padding-left: 15px;
}

/* Отступы для заголовков */
main > section > h1
{
	padding: 5px 0;
}

main > section > div > p
{
	text-align: left;
}

main > section > div > p > i
{
	display: inline-block;
	width: 200px;
}

main > section > div > a::before
{
	content: counter(item) ". ";
}

main > section > div > a
{
	counter-increment: item;
	display: block;
	text-align: left;
	margin-bottom: 3px;
}

/*
 * Подвал сайта
 */
footer
{
	background: RGBA(255,255,255,0.5);
	font-size: 16px;
	padding: 15px;
	box-sizing: border-box;
	z-index:5;
}
